.alquilar-salon-page {
  min-height: 100vh;
  background-color: #20321E;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}


.alquilar-content {
  background-color: #DDD8CA;
  color: #20321E;
  width: 100%;
  max-width: 650px;
  padding: 35px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.alquilar-content h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.9rem;
  color: #20321E;
}


.form-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-box label {
  font-weight: bold;
  font-size: 1.05rem;
  color: #20321E;
}

.inp {
  padding: 10px 12px;
  border: 1px solid #466245;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #20321E;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease;
}

.inp:focus {
  border-color: #20321E;
  box-shadow: 0 0 5px rgba(32, 50, 30, 0.4);
}


.horarios-box h3 {
  margin-bottom: 10px;
  color: #20321E;
  text-align: center;
}

.lista-horarios {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.horario-item {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 14px 16px;
  border: 1px solid #466245;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  transition: 0.2s ease;
}


.horario-item.libre {
  background-color: #eef5ee;
}

.horario-item.ocupado {
  background-color: #f1d4d4;
  border-color: #8b3a3a;
}

.ocupado-text {
  color: #8b3a3a;
  font-weight: bold;
}


.btn-reservar {
  background-color: #20321E;
  color: #DDD8CA;
  border: none;
  padding: 10px 14px;
  font-size: 0.95rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-reservar:hover {
  background-color: #466245;
  transform: translateY(-2px);
}


.error-box {
  background-color: #f4c6c6;
  color: #8b2e2e;
  border: 1px solid #8b2e2e;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.success-box {
  background-color: #d8f2d8;
  color: #2d662d;
  border: 1px solid #2d662d;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}


@media (max-width: 600px) {
  .alquilar-content {
    padding: 25px;
  }

  .horario-item {
    flex-direction: column;
    gap: 10px;
  }

  .btn-reservar {
    width: 100%;
  }
}
