
.navbar-socio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #DDD8CA;
  color: #20321E;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;  
  top: 0;            
  z-index: 1000;
  width: 96.05%;      
  margin: 0 auto;  
}



.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-usuario {
  padding: 8px 20px;
  background: #ece7dd;
  border-radius: 8px;
  border: none;
  color: #3f372e;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.15s ease;
}

.btn-usuario:hover {
  filter: brightness(0.92);
}


.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.menu-item {
  position: relative;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #20321E;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f0ede6;
  list-style: none;
  padding: 5px;
  margin-top: 8px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 180px;
  border: 1px solid #e0dbd1;
}

.dropdown li button {
  width: 100%;
  padding: 10px 15px;
  background: none;
  border: none;
  border-radius: 5px;
  color: #20321E;
  text-align: left;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.2s;
}

.dropdown li button:hover {
  background-color: #20321E;
  color: #DDD8CA;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  background-color: #DDD8CA;
  color: #20321E;
  padding: 30px 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.modal h3 {
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.modal-buttons button {
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s;
}

.btn-confirm {
  border: none;
  background-color: #dc2626;
  color: white;
}

.btn-confirm:hover {
  background-color: #b91c1c;
}

.btn-cancel {
  background-color: #DDD8CA;
  color: #20321E;
  border: 2px solid #20321E;
}

.btn-cancel:hover {
  background-color: #c9c4b5;
  border-color: #466245;
}

.navbar-socio i.fa-solid {
	margin-right: 8px;
}

.navbar {
  position: relative;
  height: 90px;   
}

.navbar-logo {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%); 
  z-index: 10;
  cursor: pointer;
}

.navbar-logo img {
  width: 130px;     
  height: 130px;  
  border-radius: 50%;
}
