.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background-color: #DDD8CA;
  color: #20321E;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  height: 90px;
  box-sizing: border-box;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%); 
  z-index: 10;
  cursor: pointer;
  margin: 0;
}

.navbar-logo img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}